[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "*"
pytest-testinfra = "*"
requests = "*"
pytest-html = "*"
pytest = "*"
pytest-check = "*"

[requires]
python_version = "3.8"
